body {
    background-color: rgb(228, 226, 226);
}

.saved {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    color: #333333;
    line-height: 20px;
    padding-bottom: 3%;
}

.save {
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    color: #333333;
    line-height: 20px;
}

.empty-job #image-empty {
    width: 25%;
    height: 50%;
    color: #333333;
    margin-left: 37%;
    margin-top: 10%;
}
.empty-job .caption {
    color: #777;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 5%;
    padding-top: 2%;
    text-align: center;
}

.advertise {
    width: 100%;
    height: 450px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 1%;
}

.advertise img {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
}

.save .saved-job .img-company img {
    width: 80%;
    height: 80%;
}

.save .saved-job .img-company {
    width: 20%;
    height: 20%;
    align-items: center;
    text-align: center;
}

.save .saved-job {
    width: 98%;
    height: 5%;
    background-color: var(--secondary-color);
    border-radius: 5px;
    color: #333333;
    display: flex;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin: 1% 1% 1%;
    align-items: center;
    border: 1px solid var(--solid-color);

}

.save .saved-job .caption #salary {
    height: 24px;
    background-color: #eeeeee;
    border-radius: 3px;
    color: #636d78;
    display: inline-block;
    font-family: Arial;
    font-size: 12px;
    line-height: 16px;
    margin: 1% 1% 2% 0%;
    padding: 1% 2%;
}

.save .saved-job .caption #address {
    height: 24px;
    background-color: #eeeeee;
    border-radius: 3px;
    color: #636d78;
    display: inline-block;
    font-family: Arial;
    font-size: 12px;
    line-height: 16px;
    margin: 1% 1% 2% 0%;
    padding: 1% 2%;
}

.save .saved-job .caption #time {
    height: 24px;
    background-color: #eeeeee;
    border-radius: 3px;
    color: #636d78;
    display: inline-block;
    font-family: Arial;
    font-size: 12px;
    line-height: 16px;
    margin: 1% 1% 2% 0%;
    padding: 1% 2%;
}

.save .saved-job .caption {
    width: 60%;
    height: 102px;
    color: #333333;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-left: 5%;
    margin-top: 2%;
}

.banner {
    background-color: var(--main-color) !important;
    border-radius: 5px 5px 0px 0px;
    color: #333333;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    padding: 32px 16px;
}

.action {
    width: 30%;
}

.action button {
    margin-top: 30%;
}
.empty-job a{
    width: 120px;
    height: 40px;
    margin-left: 42%;
    font-size: 14px;          
    line-height: 20px;         
    padding: 10px 16px;  
}