<footer class="footer mt-5">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-6 col-12">
                <div class="footer-company">
                    <span class="footer-heading">Thông tin công ty</span>
                    <ul>
                        <li>Tên công ty: JobConnect Company</li>
                        <li>Văn phòng: Quận 7, TP HCM</li>
                        <li>Mã số thuế: 12345678</li>
                        <li>Hotline: 00000000</li>
                        <li>© Bản quyền thuộc về JobConnect Team</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6 col-12">
                <div class="footer-item">
                    <div class="customer-care margin-footer">
                        <span class="footer-heading">Chăm sóc khách hàng</span>
                        <ul>
                            <li>Hotline: 000000</li>
                            <li>Email: jobconnect@gmail.com</li>
                        </ul>
                    </div>

                    <div class="footer-community mt-5">
                        <div class="footer-heading">Cộng đồng</div>
                        <ul>
                            <li>Facebook</li>
                            <li>Linkedin</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6 col-12">
                <div class="footer-item">
                    <div class="footer-tool margin-footer">
                        <div class="footer-heading">Khám phá công cụ</div>
                        <ul>
                            <li>Viết CV</li>
                            <li>Tính lương</li>
                            <li>Tính thuế thu nhập cá nhân</li>
                        </ul>
                    </div>

                    <div class="partner">
                        <div class="footer-heading mt-5">Đối tác</div>
                        <ul>
                            <li>FlightTeam</li>
                            <li>FlightTeam</li>
                            <li>FlightTeam</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6 col-12">
                <div class="footer-item margin-footer">
                    <img src="https://www.topcv.vn/v3/images/topcv-logo-4.png?v=1.0.1" alt="Logo website"
                        class="footer-logo-img">
                    <span class="footer-website-name footer-heading">Job Connect Company</span>
                    <quotes class="footer-slogan">Find your dream job</quotes>
                </div>
            </div>
        </div>
    </footer>