<header class="header">
    <div class="header-responsive">
        <i class="fa fa-bars nav-icon" onclick="showNavBar()"></i>
        <div class="logo-website">
            <!-- <img src="https://www.topcv.vn/v3/images/topcv-logo-4.png?v=1.0.1" alt="Logo JobConnect"> -->
            <img src="/images/6-1-removebg-preview.png" alt="">
        </div>
    </div>

    <div class="nav-bar-responsive" id="nav-bar-responsive">
        <div class="overplay" onclick="closeNavBar()">

        </div>

        <div class="responsive-nav">
            <i class="fa fa-close icon-close" onclick="closeNavBar()"></i>
            <!-- Menu responsive here -->
            <ul class="respons-list-nav">
                <li id="" class="separate-bottom">
                    <span>Việc làm</span>

                    <div class="">
                        <ul class="">
                            <li>
                                <a href="/recruitment/search?q=">
                                    <i class="fa fa-search"></i>
                                    Tìm việc làm
                                </a>
                            </li>
                            <li>
                                <a href="/recruitment/cong-viec-da-ung-tuyen">
                                    <i class="fa fa-shopping-bag"></i>
                                    Việc làm đã ứng tuyển
                                </a>
                            </li>
                            <li>
                                <a href="/recruitment/cong-viec-da-luu">
                                    <i class="fa fa-heart-circle-plus"></i>
                                    Việc làm đã lưu
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="">Hồ sơ & CV</a>
                </li>
                <li>
                    <a href=""> Công ty </a>
                </li>
                <li>
                    <a href="">Blog</a>
                </li>
                <li>
                    <a href=""> Khám phá </a>
                </li>

                <li>
                    <a href=""> Đăng nhập </a>
                </li>

                <li>
                    <a href=""> Đăng ký</a>
                </li>


                <li>
                    <a href=""> Nhà tuyển dụng</a>
                </li>
            </ul>

            <!-- End Menu -->
        </div>

    </div>
    <div class="navbar-left">
        <div class="logo-website">
            {{!-- <img src="/images/logo.png" alt="Logo JobConnect"> --}}
            <a href="/">
                <img src="/images/logo-recruiter.png" alt="Logo JobConnect">
            </a>
        </div>
        <ul class="navbar-left-list">
            <li id="navbar-job">
                <a href="">
                    Việc làm
                    <i class="fa fa-angle-down"></i>
                </a>

                <div class="subnav-job">
                    <ul class="subnav-list-job">
                        <li>
                            <a href="/recruitment/search?q=">
                                <i class="fa fa-search"></i>
                                Tìm việc làm
                            </a>
                        </li>
                        <li>
                            <a href="/recruitment/cong-viec-da-ung-tuyen">
                                <i class="fa fa-shopping-bag"></i>
                                Việc làm đã ứng tuyển
                            </a>
                        </li>
                        <li>
                            <a href="/recruitment/cong-viec-da-luu">
                                <i class="fa fa-heart-circle-plus"></i>
                                Việc làm đã lưu
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="">
                    Hồ sơ & CV
                    <i class="fa fa-angle-down"></i>
                </a>
            </li>
            <li>
                <a href="">
                    Công ty
                    <i class="fa fa-angle-down"></i>
                </a>
            </li>
            <li>
                <a href="">
                    Blog
                </a>
            </li>
            <li>
                <a href="">
                    Khám phá
                    <i class="fa fa-angle-down"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="navbar-right">
        <ul class="navbar-right-list">
            <li class="separate-right">
                <a href="">Đăng nhập</a>
            </li>
            <li class="separate-right no-separate">
                <a href="">Đăng ký</a>
            </li>
            <li>
                <a href="" class="btn-recruiter">Nhà tuyển dụng</a>
            </li>
        </ul>
    </div>
</header>